<div align="center">
	<img src="media/Accel-Makers-Notion-Banner2.png" alt="Public Good App House - Accelerating Makers">
</div>

---

[![Awesome](https://awesome.re/badge.svg)](https://awesome.re)

### DWeb for Impact: Solutions for Non-Profits and Educational Instittions

The following Awesome list of non-profit and educational institution Decentralized Web ([DWeb](https://wiki.mozilla.org/Dweb)) use cases, examples solutions, and tools was curated by [Accelerating Makers](https://acceleratingmakers.publicgoodapphouse.org/), a program of Public Good App House and [TechSoup](https://www.techsoup.org/) that is helping technology builders and nonprofits co-create purpose-built tools for public good.

<p align="center">
	<a href="awesome.md">What is an awesome list?</a>&nbsp;&nbsp;&nbsp;
	<a href="contributing.md">Contribution guide</a>&nbsp;&nbsp;&nbsp;
	<a href="create-list.md">Creating a list</a>&nbsp;&nbsp;&nbsp;
	<a href="https://twitter.com/awesome__re">Twitter</a>&nbsp;&nbsp;&nbsp;
</p>

---

## Contents
- [Awesome List](readme.md)
- [Financial Transactions](#financial-transactions)
- [Local Community Networks](#local-community-networks)

---

## Data Storage and Verification

- ### Arweave
	- [https://www.arweave.org/](https://www.arweave.org/) - The Arweave network is a permanent and decentralized web inside an open ledger. Arweave is the first protocol that enables permanent data storage. Its design allows anyone to preserve data forever with just a single, one-time fee.
- ### Cello Trust - Samsung SDS
	- [https://www.samsungsds.com/en/blockchain-logistics-platform/cello-trust.html](https://www.samsungsds.com/en/blockchain-logistics-platform/cello-trust.html) - Developed by combining Samsung SDS’ blockchain technology and logistics expertise, Cello Trust ensures tamper-proof, secure information across all stages of a supply chain.
- ### Content Authenticity Initiative
	- [https://contentauthenticity.org/](https://contentauthenticity.org/) - The Content Authenticity Initiative is a community of researchers and developers building an ecosystem of open source tools and software development kits (SDKs) for working with digital content provenance creation and validation. Their technology uses a cryptographic asset hashing to provide verifiable, tamper-evident signatures that an image and its metadata hasn’t been unknowingly altered. At creation, the creator can choose what information to attach to the content being created. Throughout this process, the creator of content can choose to preserve attribution or to remain anonymous.
- ### Evercity
	- [https://evercity.io/](https://evercity.io/) - End-to-end platform streamlining green debt and carbon origination. Evercity combines blockchain with monitoring tools to increase data transparency, avoiding greenwashing and enabling the issuance of fully traceable green digital assets: green and sustainability-linked debt instruments, carbon credits and forwards. Evercity also develops an open source sustainable finance protocol, which serves as a global common good infrastructure.
- ### Filecoin
	- [https://filecoin.io/](https://filecoin.io/) - Filecoin is a decentralized, blockchain-based storage network that aims to create a more efficient and secure system for storing and retrieving digital information. Built-in economic incentives ensure that files are stored and retrieved reliably and continuously. It has gained attention and support from the blockchain community for its potential to disrupt traditional cloud storage services. 
- ### Karma GAP
	- [https://gap.karmahq.xyz/](https://gap.karmahq.xyz/) - Karma’s Grantee Accountability Protocol (GAP) in an on-chain protocol that provides visibility and accountability for crypto protocols, open source software, public goods, and community-funded projects. Grantees can self-report on grant progress, build reputation, and receive more funding. Communities and grant admins can stay up to date on projects progress, trigger payments based on milestone completion, and endorse projects, monitor fund usage, and flag discrepancies.
- ### GiveTrack
	- [https://www.givetrack.org](https://www.givetrack.org) - GiveTrack is a platform nonprofits use for taking donations and sharing with donors exactly how their contributions are used while tying donations directly to a project result.
- ### Grain Discovery
	- [https://graindiscovery.com/home](https://graindiscovery.com/home) - Grain Discovery, an agricultural technology company, utilized blockchain to revolutionize the grain supply chain. Their solution provides end-to-end traceability, ensuring the authenticity of grain products and safeguarding against fraud. By implementing blockchain technology, Grain Discovery empowers consumers to verify the origin and quality of grain, particularly important in industries like food and animal feed. This innovation enhances trust, promotes ethical sourcing, and contributes to the sustainability and safety of grain supply chains.
- ### ixo Protocol
	- [https://www.ixo.world/](https://www.ixo.world/) - The ixo Protocol defines a new standard for making Verifiable Impact Claims to measure and report on how people and organisations are changing the state of the world, using high-definition data as evidence. These certified digital assets replace or enhance legacy instruments, such as Verified Emission Reduction Certificates. Impact Producers use their verified data, proofs and certified credentials, to mint non-fungible Impact Credits.
- ### MOSIP
	- [https://www.mosip.io/](https://www.mosip.io/) - MOSIP is a robust, scalable and inclusive foundational identity platform. The Modular Open Source Identity Platform (MOSIP) helps governments and other user organizations implement a digital, foundational identity system in a cost effective way. Nations can use MOSIP freely to build their own identity systems. Being modular in its architecture, MOSIP provides flexibility to countries in how they implement and configure their systems, and helps avoid vendor lock-in.
- ### MuckRock
	- [https://www.muckrock.com/](https://www.muckrock.com/) - File, track, and share public records requests. MuckRock Foundation is a nonprofit, collaborative news site and public resource that brings together journalists, researchers, activists and regular citizens to request, analyze and share government documents, making politics more transparent and democracies more informed. MuckRock provides a repository of hundreds of thousands of pages of original government materials, information on how to file requests and tools to make the requesting process easier.
- ### Open Referral
	- [https://openreferral.org/](https://openreferral.org/) - Open Referral develops data standards and open source tools that make it easier to share, find and use information about health, human, and social services. We envision a future in which information about the resources available to people in need is reliable as ensured through accountable stewardship, and accessible as shared through open infrastructure.
- ### OpenSC
	- [https://opensc.org](https://opensc.org) - VERIFY low-carbon and sustainable food production at source. OpenSC is a joint venture by World Wildlife Fund Australia and BCG Digital Ventures. The OpenSC platform uses blockchain technology and real-time data to trace a product through its supply chain in order to make transparent and verifiable that it was produced in an ethically or sustainable way. 
- ### ProofMode
	- [https://proofmode.org](https://proofmode.org) - ProofMode is a system that enables authentication and verification of multimedia content, particularly captured on a smartphone, from point of capture at the source to viewing by a recipient. It utilizes enhanced sensor-driven metadata, hardware fingerprinting, cryptographic signing, and third-party notaries to enable a pseudonymous, decentralized approach to the need for chain-of-custody and “proof” by both activists and everyday people alike.
- ### Starling Lab
	- [https://www.starlinglab.org/](https://www.starlinglab.org/) - The Starling Lab for Data Integrity prototypes tools and principles to bring historians, legal experts and journalists into the new era of Web3. The Starling Lab is an academic research lab innovating with the latest cryptographic methods and decentralized web protocols to meet the technical and ethical challenges of establishing trust in our most sensitive digital records.
